In [2]:
import psycopg2
import sys
import pandas as pd
import matplotlib as plt
%load_ext sql
%sql postgresql://alphalu:*******@localhost/tb

'Connected: alphalu@tb'

## 交易表trx结构为 user_id(用户ID),order_id(订单ID),pay_time(付款时间),order_amount(金额)

#### 解决两个问题：
#### 查询过去一个月付款用户量（提示：用户量需去重）最高的三天分别是哪几天？
#### 查询昨天每个用户最后付款的订单ID及金额

建表

In [20]:
%%sql
create table trx(
user_id int,
order_id int,
pay_time timestamp,
order_amount int
)

 * postgresql://alphalu:***@localhost/tb
Done.

[]

In [21]:
data=pd.read_csv('transaction.csv')
data.head()

   user_id  order_id       pay_time  order_amount
0        1         1  3/19/19 10:23            43
1        2         2  3/20/19 10:23           332
2        3         3  3/19/19 10:23            34
3        4         4  3/19/19 10:23          2256
4        5         5  3/23/19 10:23            32

实际的pay time应为timestamp格式

In [22]:
data['pay_time'] = pd.to_datetime(data['pay_time'])

In [24]:
data.head()

   user_id  order_id            pay_time  order_amount
0        1         1 2019-03-19 10:23:00            43
1        2         2 2019-03-20 10:23:00           332
2        3         3 2019-03-19 10:23:00            34
3        4         4 2019-03-19 10:23:00          2256
4        5         5 2019-03-23 10:23:00            32

将data中数据导入trx table中

In [25]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://alphalu:666711@localhost/tb')

In [26]:
try:
    data.to_sql('trx',engine,index=False,if_exists='append')
except Exception as e:
    print(e)

In [27]:
%%sql
select * from trx;

 * postgresql://alphalu:***@localhost/tb
40 rows affected.

[(1, 1, datetime.datetime(2019, 3, 19, 10, 23), 43),
 (2, 2, datetime.datetime(2019, 3, 20, 10, 23), 332),
 (3, 3, datetime.datetime(2019, 3, 19, 10, 23), 34),
 (4, 4, datetime.datetime(2019, 3, 19, 10, 23), 2256),
 (5, 5, datetime.datetime(2019, 3, 23, 10, 23), 32),
 (6, 6, datetime.datetime(2019, 3, 24, 10, 23), 3423),
 (7, 7, datetime.datetime(2019, 3, 25, 10, 23), 6765),
 (8, 8, datetime.datetime(2019, 3, 26, 10, 23), 7665),
 (9, 9, datetime.datetime(2019, 3, 26, 10, 23), 88),
 (10, 10, datetime.datetime(2019, 3, 26, 10, 23), 56),
 (11, 11, datetime.datetime(2019, 3, 26, 10, 23), 7856),
 (12, 12, datetime.datetime(2019, 3, 30, 10, 23), 56),
 (13, 13, datetime.datetime(2019, 3, 31, 10, 23), 6576),
 (14, 14, datetime.datetime(2019, 3, 19, 10, 23), 5654),
 (15, 15, datetime.datetime(2019, 3, 20, 10, 23), 567),
 (16, 16, datetime.datetime(2019, 3, 21, 10, 23), 8090),
 (17, 17, datetime.datetime(2019, 3, 22, 10, 23), 99),
 (18, 18, datetime.datetime(2019, 3, 23, 10, 23), 90),
 (19, 19, datetime.datetime(2019, 3, 24, 10, 23), 800),
 (20, 20, datetime.datetime(2019, 3, 25, 10, 23), 808),
 (1, 21, datetime.datetime(2019, 3, 25, 10, 23), 345),
 (2, 22, datetime.datetime(2019, 3, 25, 10, 23), 76),
 (3, 23, datetime.datetime(2019, 3, 25, 10, 23), 546),
 (4, 24, datetime.datetime(2019, 3, 25, 10, 23), 567),
 (5, 25, datetime.datetime(2019, 3, 30, 10, 23), 865),
 (6, 26, datetime.datetime(2019, 3, 31, 10, 23), 67),
 (7, 27, datetime.datetime(2019, 4, 1, 10, 23), 685),
 (8, 28, datetime.datetime(2019, 4, 2, 10, 23), 676),
 (9, 29, datetime.datetime(2019, 4, 3, 10, 23), 567),
 (10, 30, datetime.datetime(2019, 4, 4, 10, 23), 9),
 (11, 31, datetime.datetime(2019, 4, 5, 10, 23), 687),
 (12, 32, datetime.datetime(2019, 4, 6, 10, 23), 3),
 (13, 33, datetime.datetime(2019, 4, 7, 10, 23), 564),
 (14, 34, datetime.datetime(2019, 4, 8, 10, 23), 56),
 (15, 35, datetime.datetime(2019, 4, 9, 10, 23), 32),
 (16, 36, datetime.datetime(2019, 2, 10, 10, 23), 3),
 (17, 37, datetime.datetime(2019, 2, 11, 10, 23), 2),
 (18, 38, datetime.datetime(2019, 3, 25, 10, 23), 3434),
 (19, 39, datetime.datetime(2019, 2, 13, 10, 23), 43),
 (20, 40, datetime.datetime(2019, 2, 14, 10, 23), 23)]

In [29]:
%%sql
insert into trx values
(7,41,'2019-04-11 08:23:00',234),
(8,41,'2019-04-12 04:23:00',64),
(9,41,'2019-04-11 08:08:00',256);

 * postgresql://alphalu:***@localhost/tb
3 rows affected.

[]

新增几条今天和昨天的数据 后面要用到

In [30]:
%%sql
select * from trx;

 * postgresql://alphalu:***@localhost/tb
43 rows affected.

[(1, 1, datetime.datetime(2019, 3, 19, 10, 23), 43),
 (2, 2, datetime.datetime(2019, 3, 20, 10, 23), 332),
 (3, 3, datetime.datetime(2019, 3, 19, 10, 23), 34),
 (4, 4, datetime.datetime(2019, 3, 19, 10, 23), 2256),
 (5, 5, datetime.datetime(2019, 3, 23, 10, 23), 32),
 (6, 6, datetime.datetime(2019, 3, 24, 10, 23), 3423),
 (7, 7, datetime.datetime(2019, 3, 25, 10, 23), 6765),
 (8, 8, datetime.datetime(2019, 3, 26, 10, 23), 7665),
 (9, 9, datetime.datetime(2019, 3, 26, 10, 23), 88),
 (10, 10, datetime.datetime(2019, 3, 26, 10, 23), 56),
 (11, 11, datetime.datetime(2019, 3, 26, 10, 23), 7856),
 (12, 12, datetime.datetime(2019, 3, 30, 10, 23), 56),
 (13, 13, datetime.datetime(2019, 3, 31, 10, 23), 6576),
 (14, 14, datetime.datetime(2019, 3, 19, 10, 23), 5654),
 (15, 15, datetime.datetime(2019, 3, 20, 10, 23), 567),
 (16, 16, datetime.datetime(2019, 3, 21, 10, 23), 8090),
 (17, 17, datetime.datetime(2019, 3, 22, 10, 23), 99),
 (18, 18, datetime.datetime(2019, 3, 23, 10, 23), 90),
 (19, 19, datetime.datetime(2019, 3, 24, 10, 23), 800),
 (20, 20, datetime.datetime(2019, 3, 25, 10, 23), 808),
 (1, 21, datetime.datetime(2019, 3, 25, 10, 23), 345),
 (2, 22, datetime.datetime(2019, 3, 25, 10, 23), 76),
 (3, 23, datetime.datetime(2019, 3, 25, 10, 23), 546),
 (4, 24, datetime.datetime(2019, 3, 25, 10, 23), 567),
 (5, 25, datetime.datetime(2019, 3, 30, 10, 23), 865),
 (6, 26, datetime.datetime(2019, 3, 31, 10, 23), 67),
 (7, 27, datetime.datetime(2019, 4, 1, 10, 23), 685),
 (8, 28, datetime.datetime(2019, 4, 2, 10, 23), 676),
 (9, 29, datetime.datetime(2019, 4, 3, 10, 23), 567),
 (10, 30, datetime.datetime(2019, 4, 4, 10, 23), 9),
 (11, 31, datetime.datetime(2019, 4, 5, 10, 23), 687),
 (12, 32, datetime.datetime(2019, 4, 6, 10, 23), 3),
 (13, 33, datetime.datetime(2019, 4, 7, 10, 23), 564),
 (14, 34, datetime.datetime(2019, 4, 8, 10, 23), 56),
 (15, 35, datetime.datetime(2019, 4, 9, 10, 23), 32),
 (16, 36, datetime.datetime(2019, 2, 10, 10, 23), 3),
 (17, 37, datetime.datetime(2019, 2, 11, 10, 23), 2),
 (18, 38, datetime.datetime(2019, 3, 25, 10, 23), 3434),
 (19, 39, datetime.datetime(2019, 2, 13, 10, 23), 43),
 (20, 40, datetime.datetime(2019, 2, 14, 10, 23), 23),
 (7, 41, datetime.datetime(2019, 4, 11, 8, 23), 234),
 (8, 41, datetime.datetime(2019, 4, 12, 4, 23), 64),
 (9, 41, datetime.datetime(2019, 4, 11, 8, 8), 256)]

#### 查询过去一个月付款用户量（提示：用户量需去重）最高的三天分别是哪几天？

Here's a list of some useful expressions for timestamp/datetime:

- extract(year from some_timestamp_column) -> gets year from datetime
- extract(month from some_timestamp_column) -> gets month from datetime
- cast(some_timestamp_column as date) -> gets full date (year, month and day) from datetime

hint:现在的月份：date_part('month',now())

In [28]:
%%sql
select cast(pay_time as date) as day,
count(distinct user_id)as total_users
from trx where 
extract(month from pay_time)=date_part('month',now())-1
group by cast(pay_time as date) 
order by total_users desc
limit 3;

 * postgresql://alphalu:***@localhost/tb
3 rows affected.

[(datetime.date(2019, 3, 25), 7),
 (datetime.date(2019, 3, 19), 4),
 (datetime.date(2019, 3, 26), 4)]

查询昨天每个用户最后付款的订单ID及金额

In [41]:
%%sql
select cast(pay_time as date) as day,
user_id,
order_amount
from trx
where date_part('day',pay_time)=date_part('day',now())-1 and
date_part('month',pay_time)=date_part('month',now()) and
date_part('year',pay_time)=date_part('year',now());

 * postgresql://alphalu:***@localhost/tb
2 rows affected.

[(datetime.date(2019, 4, 11), 7, 234), (datetime.date(2019, 4, 11), 9, 256)]

若要查找最后付款 需加上条件：pay_time=max(pay_time) group by user_id
这里会报错不知道为啥